*, *:after, *:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	/* 1rem = 10px */
}

body {
	font-family: "Lato", sans-serif;
	line-height: 1;
	font-weight: 400;
}

a {
	text-decoration: underline;
}

img {
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}

input, textarea, button {
	outline: none;
	box-shadow: none;
	font-family: "Lato", sans-serif;
}

:root {
	--primary: #70c6a6;
	--heading: #353738;
	--text: #848789;
	--input-border: #d3d7d9;
	--input-text: #929292;
	--bg-light: #f7f7f7;
	--bg-dark: #1a1c28;
}

.header {
	background: url('../images/img-bg-header.jpg');
	min-height: 80rem;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
}

.nav {
	padding-top: 3.5rem;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item {
	padding: 0 4rem;
	position: relative;
}

.nav__link {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--heading);
}

.nav__item:first-child:after, .nav__item:nth-child(4):after {
	content: '.';
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 2rem;
}

.feature__header {
	padding: 12rem 0 14.3rem;
	background: var(--bg-light);
}

.feature__image-top {
	margin: 0 auto 3rem;
}

.feature__heading {
	font-size: 1.8rem;
	display: block;
	text-transform: uppercase;
	color: var(--heading);
	margin-bottom: 3.5rem;
	font-weight: bold;
	text-align: center;
}

.feature__header-desc {
	font-size: 1.8rem;
	line-height: 1.6;
	color: var(--text);
	text-align: center;
	max-width: 106rem;
	margin: 0 auto;
}

.feature__item {
	display: flex;
	height: 60rem;
}

.feature__item-img {
	width: 67%;
	position: relative;
}

.feature__item-img .img__bg {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.feature__item-img .img__brand {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.feature__item-content {
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.feature__item-content-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 7rem;
	position: relative;
	background-color: white;
	height: 67%
}

.feature__item-content-top:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 2rem;
	height: 2rem;
	background-color: white;
	z-index: 7;
	transform: translate(-50%, 50%) rotate(-45deg);
}

.feature__img-top {
	margin: 0 auto 3rem;
}

.feature__item-text {
	font-size: 1.6rem;
	line-height: 1.6;
	color: var(--text);
	text-align: justify;
	position: relative;
	padding-bottom: 3rem;
}

.feature__item-text::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 6rem;
	height: 1px;
	background-color: var(--bg-light);
}

.feature__item-content-bottom {
	height: 33%;
}

.feature__item .img__bg {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.feature__item:nth-child(2) .feature__item-img {
	order: 2;
}

.feature__item:last-child>.feature__item-img {
	width: 33%;
}

.feature__item:last-child>.feature__item-content {
	width: 34%;
}

.tweet {
	padding: 12.5rem 1.5rem 7rem;
	background-color: var(--bg-light);
	text-align: center;
}

.tweet__icon {
	font-size: 4rem;
	color: #00aefd;
	margin-bottom: 3rem;
}

.tweet__heading {
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

.tweet__location, .tweet__author {
	color: var(--heading);
	font-weight: bold;
}

.tweet__time {
	color: var(--text);
	font-weight: 300;
	padding-left: 1.5rem;
	margin-left: 1.5rem;
	position: relative;
}

.tweet__time:before {
	content: "/";
	position: absolute;
	left: 0;
	top: 0;
}

.tweet__content {
	font-size: 2.4rem;
	line-height: 1.4;
	color: var(--text);
	font-style: italic;
	max-width: 104.5rem;
	margin: 0 auto 10rem;
}

.tweet__pagi {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tweet__pagi-item {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 5rem;
	border: 1px solid var(--text);
	margin-left: .5rem;
	margin-right: .5rem;
}

.tweet__pagi-item.is-active {
	background-color: var(--text);
}

.images {
	display: flex;
}

.images__block:first-child {
	flex-direction: column;
}

.images__block:last-child {
	flex-direction: column-reverse;
}

.images__block {
	width: 33%;
	display: flex;
}

.images__block-item {
	display: flex;
	height: 50%;
	width: 100%;
}

.images__block-item {
	height: 50%;
	width: 100%;
}

.images__block-item:first-of-type {
	display: flex;
}

.images__item {
	width: 50%;
	height: 100%;
	position: relative;
}

.images__block-item:last-of-type .images__item {
	width: 100%;
}

.images__item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #70c6a6c9;
	z-index: 10;
	display: none;
}

.images__item-bg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.images__item-brand {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	text-align: center;
	display: none;
}

.images__item-brand>img {
	margin: 0 auto;
}

.images__item-text {
	text-transform: uppercase;
	color: white;
	font-size: 1.6rem;
	margin-top: .5rem;
	font-weight: bold;
}

.images__item:hover:before, .images__item:hover .images__item-brand {
	display: block;
}

.discover {
	padding: 7rem 1.5rem;
	background: var(--bg-dark);
	text-align: center;
}

.discover__btn {
	text-transform: uppercase;
	font-size: 1.4rem;
	color: white;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	border: 1px solid currentColor;
	padding: 2rem;
	display: inline-block;
	min-width: 30rem;
	transition: .2s linear;
}

.discover__btn:hover {
	background-color: var(--primary);
	border-color: var(--primary);
}

.mail {
	padding: 10rem 0;
	text-align: center;
	background: white;
}

.mail__logo {
	margin: 0 auto 3.5rem;
}

.mail__text {
	font-size: 2.4rem;
	font-style: italic;
	color: var(--text);
	margin-bottom: 3.5rem;
	display: inline-block;
}

.mail__form {
	display: flex;
	max-width: 540px;
	margin: 0 auto;
	justify-content: space-between
}

.mail__form-inp {
	padding: 2.5rem;
	border: 1px solid var(--input-border);
	font-style: italic;
	font-size: 2rem;
	width: 74%;
}

.mail__form-btn {
	width: 25%;
	border: 0;
	outline: none;
	color: white;
	background-color: var(--primary);
	text-transform: uppercase;
	font-size: 2.4rem;
	font-weight: 300;
}

@media only screen and (min-width: 768px) {
	.btn__collapse {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.nav {
		width: 100%;
	}
	.nav__list {
		flex-direction: column;
		width: 100%;
		position: fixed;
		left: 0;
		transform: translateX(-100%);
		transition: transform .25s linear;
		z-index: 9;
	}
	.nav__item {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.nav__item:after {
		display: none;
	}
	.btn__collapse, .nav__bg {
		position: fixed;
		top: 1.5rem;
		right: 1.5rem;
		width: 5rem;
		height: 5rem;
		font-size: 2rem;
		border-radius: 5rem;
		text-align: center;
		line-height: 5rem;
		background-color: var(--primary);
		color: white;
		cursor: pointer;
		z-index: 10;
	}
	.nav__bg {
		background-color: #eee;
		z-index: 8;
		transition: transform .25s linear;
	}
	.inp__collapse:checked+.nav__bg {
		transform: scale(80);
	}
	.inp__collapse:checked~.nav__list {
		transform: translateX(0)
	}
}

@media only screen and (max-width: 1179px) {
	.feature__item-content-top {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media only screen and (max-width: 767px) {
	.feature__item {
		height: auto;
		flex-direction: column;
	}
	.feature .feature__item>.feature__item-img, .feature .feature__item>.feature__item-content {
		width: 100%;
	}
	.feature__item-content-top {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.images {
		height: auto;
		flex-direction: column;
	}
	.images__block {
		width: 100%;
	}
	.images__item {
		height: auto;
	}
	.footer__list {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.footer__list :nth-child(2) {
		order: -1;
	}
	.footer__list :nth-child(1) {
		order: 1;
	}
	.footer__item {
		margin-bottom: 1rem;
	}
}

.footer__list {
	display: flex;
	justify-content: space-between;
	max-width: 110rem;
	margin: 0 auto;
}

.footer__adress {
	color: #848789;
	line-height: 1.8rem;
}

.footer__adress-header {
	font-weight: bold;
	font-size: 1.4rem;
}

.footer__adress-content {
	font-style: italic;
	font-weight: 400;
}

.footer__social-link {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin: 0 .7rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.footer__social-link i {
	color: white;
	display: inline-block;
	font-size: 1.7rem;
}

.footer__item .bg-tw {
	background: #00aefd;
}

.footer__item .bg-fb {
	background: #537bbd;
}

.footer__item .bg-pint {
	background: #eb5755;
}

.footer__sponsor {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	font-style: italic;
	color: #848789;
}

.footer__sponsor-text {
	margin-right: 10px;
}